<thead>
  <tr>
    <th>ジャンル名</th>
    <th>施設数</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% genres.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= genre.museums.count %>件</td>
      <td><%= link_to '削除', genre_path(genre.id), method: :delete, remote: true, class:"btn btn-danger" %></td>
    </tr>
  <% end %>
</tbody>