<div class="row">
  <h1 class="about">ひとくせ博覧会とは？？</h1>
  <h3 class="mb-5">　日本全国にある風変わりでマニアックな、一癖ある博物館を共有できるアプリです。</h3>

  <h2>製作者から</h2>
  <div>
    <p class="mb-0">数年前、静岡県の山中のとある博物館を訪問しました。 普段わたしたちが目にすることのできないモノや独特な空間に触れることで、</br>「こんな世界があったのか」と感動した覚えがあります。</p>
  　<p>日本全国には、知名度は低いですが魅力に溢れた博物館がまだまだあるはずです。 しかし意外なことにネット上には、これら風変わりな博物館に関する共有サイト・アプリは殆どございませんでした。そこで、そういった博物館や感想を皆で共有することで、自分一人では知ることのできない新たな世界を開拓していけるのではないかと考えました。 また、そういった場所に魅力を感じている方々と繋がりたいという思いもあったため、チャット機能をつけることでそれを実現しようと考えました。</p>
    <p>少しでも興味を持ってくださいましたら、ぜひとも覗いてみてください！</p>
    <p>　　　<%= link_to '＞＞ユーザー登録はこちらからどうぞ！！', new_user_registration_path %></p>
  </div>
</div>