<% if post_images.exists? %>
  <% post_images.each do |image| %>
    <%= attachment_image_tag image, :picture, size:"140x140", format:"jpeg" %>
  <% end %>
<% else %>
  <p>投稿された画像はありません！</p>
<% end %>