/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-siging: border-box;
}

body {
	display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

header {
  // position: fixed;
  // z-index: 100;
  width: 100%;
  height: 100px;
  background-color: #b22222;
}

.header-lists {
  list-style: none;
  justify-content: flex-end;
}

.header-list {
  padding-top: 20px;
  padding-right: 25px;
  font-size: 18px;
}

.search-box {
  justify-content: flex-end;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header-link {
  color: #fff;
}

.circle-image{
  border: solid;
  border-radius: 50%;
}

.page-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-heart {
  color: #f00;
}

.like-heart {
  color: #f00;
}

.unlike-heart {
  color: #dcdcdc;
}

.star {
  color: #ff0;
}

.unchecked-star {
  color: #dcdcdc;
}

.door {
  color: #00bfff;
}

.clipboard {
  color: #f0f;
}

.unchecked-door {
  color: #dcdcdc;
}

footer {
  margin-top: 30px ;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #b22222;
  // position: absolute;
  // bottom: 0;
}

.copy-right {
  color: #fff;
}