// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// indexページに適用
.forum-form {
  z-index: 10;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.forum {
  background: #fff;
  margin-bottom: 2px;
}

.forum-nail {
  color: #a9a9a9;
}

.forum-title {
  font-size: 23px;
}

.forum-letter {
  font-size: 17px;
}

.forum-button {
  font-size: 15px;
}

.key {
  color: #ffd700;
}

.unlocked-key {
  color: #dcdcdc;
}

.forum th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
}

.forum-description {
  margin-right: 2px;
  background-color: #d2691e;
  border-radius: 10px;
}

.forum-descriptions {
  margin-right: 2px;
  background-color: #d2691e;
  border-radius: 10px;
}


// showページに適用
.forum-detail {
  width: 150px;
}

// chatページに適用
.forum-post-form {
  justify-content: space-around;
}

.forum-post {
  height: 500px;
}

.forum-post-display {
  width: 100%;
  height: 90%;
  background-color: #87cefa;
  overflow-y: scroll;
}

.forum-right,
.forum-left {
  margin: 30px 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.forum-right {
  justify-content: flex-end;
}

.forum-message {
  max-width: 40%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #7cfc00;
  box-sizing: border-box;
  margin: 0 !important;
  line-height: 1.5;
}

.others-message {
  background: #f5f5f5;
}

.user-icon {
  width: 8%;
  height: auto;
}

.forum-message:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
}

.forum-right .forum-message:after {
  right: -26px;
  border-left: 22px solid #7cfc00;
}

.forum-left .forum-message:after {
  left: -26px;
  border-right: 22px solid #f5f5f5;
  padding-left: 6px;
}