// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slide_images {
  width: 100%;
  height: 100%;
}

.slide_image {
  opacity: 0.5;
  max-height: 600px;
}

.slick-next {
  right: 10px !important;
  z-index: 90;
}

.slick-prev {
  left: 10px !important;
  z-index: 90;
}

.relative {
  position: relative;
  width: 100%;
}

.absolute {
  position: absolute;
  bottom: 300px;
  left: 360px;
  z-index: 100;
  font-weight: bold;
}

.other-museum {
  text-align: right;
}

.about {
  margin-top: 5px;
  font-weight: bold;
}