// Place all the styles related to the museums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// showページに適用
.museum-info {
  z-index: 10;
  box-sizing: border-box;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.museum-table {
  table-layout: fixed;
  width: 100%;
}

.museum-address {
  word-break : break-all;
}

.post-form {
  border: solid 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.post-title {
  padding: 5px 10px;
  border-bottom: solid 1px;
  justify-content: space-between;
}

.post-body {
  padding: 5px 10px;
  background-color: #c0f;
}

.post-detail {
  padding: 5px 10px;
  border-top: solid 1px;
  font-size: 14px;
  justify-content: space-between;
}

.post-button {
  padding: 5px 10px;
  border-top: solid 1px;
  text-align: center;
}

.post-index {
  border: solid 1px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.post-main_title {
  font-size: 25px;
}

.post-user {
  justify-content: flex-end;
}

.museum-button {
  margin: auto;
}

.museum-edit_destroy {
  margin: auto;
}


// newページに適用
.museum-resistration {
}